{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<br><br><br><br>
<div align="center" style="background-color: white;">
  <br>
  <br>
 <div style="background-color: gray; color: white;">
  <br>
  <h2 align="center">{% trans "Our Service" %}</h2>
  <br>
  <p align="center">{% trans "We help you to make money" %}</p>
  <p align="center">{% trans "We specialize on Bitcoin, Bitcoin Cash, etc" %}</p>
  <p align="center">{% trans "We can help you to grow your money" %}</p>
  <p align="center">{% trans "Count on us for buying and selling of crypto currencies" %}</p>
  <br>
 </div>
  <br>
  <br>
</div>
{% endblock %}